<div class="clear-both">
  <br>
  <hr>
  <div id="footer">
    <div id="footer-inner">
      <div id="footer-custom">
          <div>
          <img class="footer-img" alt="" src="{{ url_for('static',filename='Images/footer-img.png') }}">
          <p style="text-align: center;">
            ©2016 Home Instead, Inc. All Rights Reserved.<br>
            In North America, call our corporate office at <span class="baec5a81-e4d6-4674-97f3-e9220f0136c1" style="white-space: nowrap;">800.640.3914<a title="Call: 800.640.3914" href="#" unsafe.unsafe="" unsafe.style="margin: 0px; border: currentColor; left: 0px; top: 0px; width: 16px; height: 16px; right: 0px; bottom: 0px; overflow: hidden; vertical-align: middle; float: none; display: inline; white-space: nowrap; position: static !important;"></a></span>. Outside North America, call <span class="baec5a81-e4d6-4674-97f3-e9220f0136c1" style="white-space: nowrap;">402.498.4466<a title="Call: 402.498.4466" href="#" unsafe.unsafe="" unsafe.style="margin: 0px; border: currentColor; left: 0px; top: 0px; width: 16px; height: 16px; right: 0px; bottom: 0px; overflow: hidden; vertical-align: middle; float: none; display: inline; white-space: nowrap; position: static !important;"></a></span><br>
            Each Home Instead Senior Care franchise office is independently owned and operated.<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
