<html>
  {% include 'header.html' %}
  {% macro display_list(my_list) -%}
    {% for item in my_list %}
      {{ item }}<br>
    {% endfor %}
  {%- endmacro %}
  <body >
    <table class="table table-striped grid-table">
      <thead class="grid-header">
        {% for key in persons[0].keys() %}
          {% if key in attributes %}
            <th>{{key}}</th>
          {% endif %}
        {% endfor %}
      </thead>
      <tbody>
        {% for person in persons %}
          <tr>
            {% for key, value in person.items() %}
              {% if key in attributes %}
                {% if isinstance(value, list) %}
                  <td>{{ display_list(value) }}</td>
                {% else %}
                  <td>{{value}}</td>
                {% endif %}
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'footer.html' %}
  </body>
</html>
