<html>
  {% include 'header.html' %}
  {% macro display_list(my_list) -%}
    {% for item in my_list %}
      {{ item }}<br>
    {% endfor %}
  {%- endmacro %}
  <body >
    <table class="table table-striped grid-table">
      <thead class="grid-header">
        {% for attribute in attributes %}
          <th>{{attribute}}</th>
        {% endfor %}
      </thead>
      <tbody>
        {% for person in persons %}
          <tr>
            {% for attribute in attributes%}
              {% if attribute in person %}
                {% if isinstance(person[attribute], list) %}
                  <td>{{ display_list(person[attribute]) }}</td>
                {% else %}
                  <td>{{person[attribute]}}</td>
                {% endif %}
              {% else %}
                <td>&nbsp;</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'footer.html' %}
  </body>
</html>
