<html>
  {% include 'header.html' %}
  {% macro display_list(list) -%}
    {% for item in list %}
      {{ item }}<br>
    {% endfor %}
  {%- endmacro %}
  {% macro split_string(person, key, seperator) -%}
    {% if key in person %}
      {% for item in person[key].split(seperator) %}
        {{ item }}<br>
      {% endfor %}
    {% endif %}
  {%- endmacro %}
  <body >
    <table class="table table-striped grid-table">
      <thead class="grid-header">
        {% for key in list[0].keys() %}
          <th>{{key}}</th>
        {% endfor %}
      </thead>
      <tbody>
        {% for person in list %}
          <tr>
            {% for value in person.values() %}
              <td>{{value}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'footer.html' %}
  </body>
</html>
